/*Colors:
Background: #121212
Text_Color_1: #fafafa
Text_Color_2: #68c189
Button: #29603b
Dividers: #1c1c1c
*/

@font-face{
    font-family: 'CustomFont';
    src: url('../assets/fonts/Skyscapers.ttf');
}

body{
    margin: 0;
    background: #121212;
    color: #fafafa;
    font-family: 'poppins', sans-serif;
}

#login_button{
    font-size: 25px;
    font-weight: bold;
    background-color: #29603b;
    color: #fafafa;
    border: none;
    width: 300px;
    height: 100px;
    border-radius: 30px;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#login_button:hover{
    color: #fafafa;
    background-color: #4db870;
    box-shadow: 0 5px 15px #193a24;
}

.login_a_tag{
    text-decoration: none;
}

.login_h1_tag{
    text-align: center;
    font-size: 50px;
    margin-top: -10px;
}

.highlight{
    color: #68c189;
    font-family: 'CustomFont', 'poppins', sans-serif;
}

.policy_text{
    text-align: center;
    margin-top: 10px;
}

.underline{
    text-decoration: underline;
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo p{
    height: 50px;
    font-size: 35px;
    margin-left: 100px;
    margin-top: 6px;
}

.login_button_header{
    font-size: 16px;
    font-weight: bold;
    background-color: #29603b;
    color: #fafafa;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.login_button_header:hover{
    color: #fafafa;
    background-color: #4db870;
    box-shadow: 0 5px 15px #193a24;
}