/*Colors:
Background: #121212
Text_Color_1: #fafafa
Text_Color_2: #68c189
Button: #29603b
Dividers: #1c1c1c
*/

body{
    margin: 0;
    background: #9fffcb;
    color: black;
    font-family: 'poppins', sans-serif;
}

#login_button{
    font-size: 25px;
    font-weight: bold;
    background-color: #004e64;
    color: #7ae582;
    border: none;
    width: 300px;
    height: 100px;
    border-radius: 50px;
    display: block;
    margin: auto;
    margin-top: 500px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

#login_button:hover{
    color: #b2ff9e;
    background-color: black;
    box-shadow: 5px 5px #b2ff9e;
}

.login_a_tag{
    text-decoration: none;
}

.login_h1_tag{
    text-align: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img{
    height: 50px;
    margin-left: 100px;
    margin-top: 6px;
}

.login_button_header{
    font-size: 16px;
    font-weight: bold;
    margin-right: 100px;
    background-color: #004e64;
    color: #7ae582;
    border: none;
    width: 125px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.login_button_header:hover{
    color: #b2ff9e;
    background-color: black;
    box-shadow: 5px 5px #b2ff9e;
}